{% extends "base.html" %}

{% block main %}
    <div class="box box-solid">
        <div class="box-header no-padding bg-light-blue">
            <div class="box-title padding-10">Быстрый режим</div>
            <div class="pull-right">
                <div class="btn">
                    <div class="fa fa-info-circle"></div>
                    Помощь
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-body">
                {% if question %}
                    <form action="" method="POST" class="row">

                        <div class="block-left preview-wrapper col-md-8">
                            {% block question %}

                            {% endblock %}
                        </div>

                        <div class="block-right col-md-4">

                            <form action="" method="POST">
                                <div class="clearfix">
                                    <h4 class="review-title pull-left">Вопрос правилен?</h4>
                                    <div class="review-buttons btn-group pull-right">
                                        <button type="button" class="btn  btn-danger">
                                            <span class="fa fa-close"></span>
                                            Нет
                                        </button>
                                        <button type="button" class="btn  btn-success">
                                            <span class="fa fa-check"></span>
                                            ДА
                                        </button>

                                    </div>
                                </div>
                                <div class="">
                                    <h4 class="text-uppercase">Пожалуйста укажите причины:</h4>
                                    {% for comment in review_comments %}
                                        <label>
                                            <input type="checkbox" name="review_comment" value="{{ comment.id }}">
                                            <span>
                                                {{ comment.comment }}
                                            </span>
                                        </label>
                                    {% endfor %}
                                </div>

                            </form>

                        </div>

                    </form>
                {% else %}

                    <div class="alert alert-warning">
                        Нет вопросов на проверку
                    </div>


                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}