{% extends "base.html" %}
{% load modelfilters %}
{% block main %}

    <div class="box box-solid">
        <div class="box-header no-padding bg-light-blue">
            <div class="box-title padding-10">Быстрый режим</div>
            <div class="pull-right">
                <div class="btn">
                    <div class="fa fa-info-circle"></div>
                    Помощь
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="box-body">

                <div class="">
                    Заказ: <em>{{ order.name }}</em>
                </div>
                <div class="">
                    <h4>Типы вопросов</h4>
                    <ul class="list-group">

                        {% if order.onechoices %}
                            <li class="list-group-item">
                                <a href="{% url "fast-moderate-onechoice" order.id %}">
                                    С одним ответом
                                    <div class="label label-info">{{ order.onechoices.count }}</div>
                                </a>

                            </li>
                        {% endif %}
                        {% if order.multiplechoices %}
                            <li class="list-group-item">
                                <a href="{% url "fast-moderate-multiplechoice" order.id %}">
                                    С несколькими ответами
                                    <div class="label label-info">{{ order.multiplechoices.count }}</div>
                                </a>
                            </li>
                        {% endif %}
                        {% if order.conforms %}
                            <li class="list-group-item">
                                С групированием ответов
                                <div class="label label-info">{{ order.conforms.count }}</div>
                            </li>
                        {% endif %}
                        {% if order.texts %}
                            <li class="list-group-item">
                                С текстовым ответов
                                <div class="label label-info">{{ order.texts.count }}</div>
                            </li>
                        {% endif %}
                        {% if order.numericals %}
                            <li class="list-group-item">
                                С числовым ответом ответов
                                <div class="label label-info">{{ order.numericals.count }}</div>
                            </li>
                        {% endif %}

                    </ul>
                </div>

                <div class="ajax-content" id="ajax">

                </div>

            </div>
        </div>
    </div>

{% endblock %}