<form action="{% url 'uploadcsv' %}"  method="post" enctype="multipart/form-data">
    <div class="form-contents">
        {% csrf_token %}
        {{form}}
    </div>
    <div class="form-button">
        <input type="submit" value="Upload"/>
    </div>
</form>
