
<div class="alert alert-info">
    Материалы заказа <b>{{ order.name }}</b>
</div>

{% for asset in order.assets.all %}
    <div class="">
        <strong>{{ asset.name }}</strong>
    </div>
{% endfor %}

<div class="">
    <form action="% url "asset-add" order_id=order.id %}" method="POST">
        {% csrf_token %}
        <div class="bg-success padding-10 margin-bottom">Прикрепить материал</div>
        <div CLASS="margin-bottom">
            <div style="margin-bottom: 5px;"><B>ФАЙЛ</B></div>
            <input type="file" name="file">
        </div>
        <div class="input-group margin-bottom">
            <div class="input-group-addon">РОЛЬ:</div>
            <select name="role" id="" class="form-control">
                <option value="syllabus" selected>Силлабус</option>
                <option value="book">Литература</option>
                <option value="other">Другое</option>
            </select>
        </div>
        <div class="clearfix">
            <button class="btn btn-success pull-right">СОХРАНИТЬ</button>
        </div>
    </form>
</div>
