{% extends "base.html" %}

{% block sidebar %}
    <aside class="main-sidebar">
        <section class="sidebar">


            <ul class="sidebar-menu">

                <li>
                    <a href="#">
                        <div class="fa fa-pencil"></div>
                        <span>Заказы</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="fa fa-check"></div>
                        <span>Модерирование</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em class="fa fa-newspaper-o"></em>
                        <span>Посты</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em class="fa fa-contact"></em>
                        <span>Рассылки</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em class="fa fa-user"></em>
                        <span>Пользователи</span>
                    </a>
                </li>

            </ul>

        </section>
    </aside>


{% endblock %}