.preview-wrapper {
  background-color: #eee;
  padding: 10px;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;

  .part-name {
    font-size: 24px;
    font-weight: 100;
    margin-top: 10px;
  }
  .time {
    margin-top: 10px;
    .label {
      font-size: 16px;
    }
  }
}

.text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: serif;
  background-color: white;
  padding: 5px;
}

.answer-with-icon {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  display: flex;

  .icon {
    min-width: 35px;
    font-size: 20px;
    border-right: 1px solid #eee;
    padding-top: 5px;
  }
}

.answer-text {
  padding: 5px;
  font-size: 16px;
  font-family: serif;
}

.review-title {

  font-size: 24px;
  font-weight: 100;
  margin-top: 10px;

}
