.quiz{

  width: 750px;
  max-width: 90%;
  background-color: #eee;
  font-family: Helvetica, Roboto, "Droid Sans", Arial, sans-serif;
  border: 1px dashed #eee;

  &-wrapper{
    display: flex;
    justify-content: space-around;
    &-lg{
      .quiz{
        width: 1150px;
        max-width: 98%;
      }
    }
  }
  &-header{
    background-color: #ddd;
    padding: 10px;
  }
  &-title{
    text-transform: uppercase;
  }

  &-content{
    padding: 10px;
  }
  &-text{
    padding: 10px;
    background-color: #fff;
    //border: 2px dashed #ddd;
    margin-bottom: 10px;
  }




  &-footer{
    background-color: #ddd;
    padding: 10px;
 }
}


.answer{
  display: flex;
  background-color: #fff;
  //border: 2px dashed #ddd;
  margin-bottom: 10px;

  &-icon{
    vertical-align: middle;
    width: 40px;
    padding-top: 10px;
    text-align: center;

    font-size: 22px;
  }
  &-text{
    border-left: 1px solid #ddd;
    width: 100%;
    padding: 10px;
  }
  &-toggle{

    height: 100%;
    .fa{
      opacity: 0.1;
      color: #00a65a;
      cursor: pointer;
    }
    input{
      display: none;
      &:checked ~ .fa{
        opacity: 1;
      }
    }

  }
}

.icon{
  &-green{
    color: green
  }
  &-gray{
    color: gray
  }
}
.toggle{
  vertical-align: top;
  .fa{
    font-size: 24px;
    margin-top: 2px;
    opacity: 0.5;
    transition: 0.3s all;
    color: green;
    cursor: pointer;
  }
  input{
    display: none;
    &:checked ~ .fa
    {

        opacity: 1;

      &:before{
        content:"\f205";

        opacity: 1;
      }
    }
  }
}
.invalid-toggle{
  font-size: 26px;
  line-height: 1;
  .fa{
    font-size: 32px;
    line-height: 1;
    margin-top: -3px;
    color: #dd4b39;

  }
}


.conform-wrapper{
  display: flex;
  justify-content: space-between;
  >*{
    width: 50%;
    padding: 5px;
  }
}
*{
  box-sizing: border-box;
}
.conform-left{
  padding-right: 20px;
  .conform-answer:after{
    font-family:FontAwesome;
    font-size: 16px;
    content: "\f0ec";
    display: inline-block;
    top: 30px;
    right: -22px;
    position: absolute;
    z-index: 99;
  }
}
.conform-answer{
  background: white;
  height: 80px;
  max-height: 80px;
  //overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  position: relative;

  & .icon{
    width: 30px;
    text-align: center;
    padding: 5px;
    background: #ccc;


       -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.1em;
  }
  & .text{

    overflow-y: auto;
    height: 80px;
    //padding: 5px;
    padding: 5px;
    padding-bottom: 15px;
           -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  & .icon-draggable{
    cursor: move;
  }

}
