.hover-link{
  cursor: pointer;

  position: relative;
  &:after{
    position: absolute;
    content: '';
    display: block;
    transition: .3s all;
    height: 0;
    max-width: 1px;
    background-color: #3c8dbc;
  }
  &:hover &:after{
    max-width: 100%;
    height: 2px;

  }
}

.bordered{
  border: 1px solid lightgrey;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.padding-10{
  padding: 10px;
}

.flex-wrapper{
  display: flex;
  height: 100vh;
  > .left{
    flex-grow: 3;
    background-color: #eee;
    resize: horizontal;
    border-right: 1px solid #ddd;
  }
  >.right{
    flex-grow: 1;
  }
}

