.material-btn {
  display: inline-block;
}
.material-btn-fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.hover-link {
  cursor: pointer;
  position: relative;
}
.hover-link:after {
  position: absolute;
  content: '';
  display: block;
  transition: .3s all;
  height: 0;
  max-width: 1px;
  background-color: #3c8dbc;
}
.hover-link:hover .hover-link:after {
  max-width: 100%;
  height: 2px;
}
.bordered {
  border: 1px solid lightgrey;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.padding-10 {
  padding: 10px;
}
.flex-wrapper {
  display: flex;
  height: 100vh;
}
.flex-wrapper > .left {
  flex-grow: 3;
  background-color: #eee;
  resize: horizontal;
  border-right: 1px solid #ddd;
}
.flex-wrapper > .right {
  flex-grow: 1;
}
.quiz {
  width: 750px;
  max-width: 90%;
  background-color: #eee;
  font-family: Helvetica, Roboto, "Droid Sans", Arial, sans-serif;
  border: 1px dashed #eee;
}
.quiz-wrapper {
  display: flex;
  justify-content: space-around;
}
.quiz-wrapper-lg .quiz {
  width: 1150px;
  max-width: 98%;
}
.quiz-header {
  background-color: #ddd;
  padding: 10px;
}
.quiz-title {
  text-transform: uppercase;
}
.quiz-content {
  padding: 10px;
}
.quiz-text {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}
.quiz-footer {
  background-color: #ddd;
  padding: 10px;
}
.answer {
  display: flex;
  background-color: #fff;
  margin-bottom: 10px;
}
.answer-icon {
  vertical-align: middle;
  width: 40px;
  padding-top: 10px;
  text-align: center;
  font-size: 22px;
}
.answer-text {
  border-left: 1px solid #ddd;
  width: 100%;
  padding: 10px;
}
.answer-toggle {
  height: 100%;
}
.answer-toggle .fa {
  opacity: 0.1;
  color: #00a65a;
  cursor: pointer;
}
.answer-toggle input {
  display: none;
}
.answer-toggle input:checked ~ .fa {
  opacity: 1;
}
.icon-green {
  color: green;
}
.icon-gray {
  color: gray;
}
.toggle {
  vertical-align: top;
}
.toggle .fa {
  font-size: 24px;
  margin-top: 2px;
  opacity: 0.5;
  transition: 0.3s all;
  color: green;
  cursor: pointer;
}
.toggle input {
  display: none;
}
.toggle input:checked ~ .fa {
  opacity: 1;
}
.toggle input:checked ~ .fa:before {
  content: "\f205";
  opacity: 1;
}
.invalid-toggle {
  font-size: 26px;
  line-height: 1;
}
.invalid-toggle .fa {
  font-size: 32px;
  line-height: 1;
  margin-top: -3px;
  color: #dd4b39;
}
.conform-wrapper {
  display: flex;
  justify-content: space-between;
}
.conform-wrapper > * {
  width: 50%;
  padding: 5px;
}
* {
  box-sizing: border-box;
}
.conform-left {
  padding-right: 20px;
}
.conform-left .conform-answer:after {
  font-family: FontAwesome;
  font-size: 16px;
  content: "\f0ec";
  display: inline-block;
  top: 30px;
  right: -22px;
  position: absolute;
  z-index: 99;
}
.conform-answer {
  background: white;
  height: 80px;
  max-height: 80px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  position: relative;
}
.conform-answer .icon {
  width: 30px;
  text-align: center;
  padding: 5px;
  background: #ccc;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.1em;
}
.conform-answer .text {
  overflow-y: auto;
  height: 80px;
  padding: 5px;
  padding-bottom: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.conform-answer .icon-draggable {
  cursor: move;
}
.preview-wrapper {
  background-color: #eee;
  padding: 10px;
}
.top-wrapper {
  display: flex;
  justify-content: space-between;
}
.top-wrapper .part-name {
  font-size: 24px;
  font-weight: 100;
  margin-top: 10px;
}
.top-wrapper .time {
  margin-top: 10px;
}
.top-wrapper .time .label {
  font-size: 16px;
}
.text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: serif;
  background-color: white;
  padding: 5px;
}
.answer-with-icon {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  display: flex;
}
.answer-with-icon .icon {
  min-width: 35px;
  font-size: 20px;
  border-right: 1px solid #eee;
  padding-top: 5px;
}
.answer-text {
  padding: 5px;
  font-size: 16px;
  font-family: serif;
}
.review-title {
  font-size: 24px;
  font-weight: 100;
  margin-top: 10px;
}
/**/
