{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form }}
    <p>Слудующие вопросы будут перенесены в часть c ID:</p>
    <ul>{{ items|unordered_list }}</ul>
    <input type="hidden" name="action" value="move_to_part" />
    <input type="submit" name="apply" value="Сохранить" />
</form>
{% endblock %}