{% extends "base.html" %}

{% block content %}

    <div class="box">
        <div class="box-header">
            <div class="box-title">Материалы заказа {{ order.name }}</div>
        </div>
        <div class="box-body">
            {% if order.assets.all %}
                <table class="order-assets table table-bordered">
                    {% for asset in order.assets.all %}

                        <tr class="order-asset">
                            <td class="order-asset-name">
                                {{ asset.name }}
                            </td>
                            <td class="order-asset-date">
                                {{ asset.upload_by }}
                            </td>
                            <td class="order-asset-view">
                                <a href="{{ asset.file.url }}" class="btn btn-info">
                                    <span class="fa fa-download"></span>
                                    Скачать
                                </a>
                            </td>
                            <td>
                                <a href="{% url "order-asset-delete" order.id asset.id %}" class="btn btn-danger">
                                    <div class="fa fa-trash"></div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="alert alert-warning">
                    Вы еще ничего не добавили
                </div>
            {% endif %}
             <div class="padding-10">
                 <form action="" method="POST" enctype="multipart/form-data">

                     <input type="hidden" name="order_id" value="{{ order.id }}">
                     <h5>Прикрепить документ</h5>
                     <div class="margin-bottom">
                         <h6>Файл</h6>
                         {% csrf_token %}
                         {{ form.file }}
                     </div>
                     <div class="clearfix">
                         <button class="btn btn-success ">Отправить</button>
                     </div>
                 </form>
             </div>
        </div>
    </div>

{% endblock %}


