{% load helpers %}

    <div class="tab-pane active padding-10">

        {% if text %}

            <div class="btn-group-wrapper clearfix margin-bottom">
                <div class="btn-group pull-right btn-group-xs">
                    <button class="btn-primary btn " type="button" onclick="ajaxModal(
                        '{% url "complex_text-edit" part.id text.id %}',
                        'Изменить текст',
                        'lg'
                    )">
                        <span class="fa fa-edit"></span>
                        Изменить текст
                    </button>
                     <a href="{% url "complex_text-delete" part.id text.id %}" class="btn btn-danger">
                        <span class="fa fa-trash"></span>
                        Удалить текст!
                    </a>
                </div>
            </div>
            <p class="bg-gray-light padding-10">
                {{ text.text |safe }}
            </p>

        {% else %}
            <div class="alert alert-info">
                Эти вопросы независимы от текста
            </div>
        {% endif %}
        <button
                class="material-btn btn bg-green material-btn-fixed"
                onclick="
                        ajaxModal(
                            '{% url "complex_question-add" part_id %}{% if text %}?text={{ text.id }} {% endif %}',
                            'Добавить вопрос',
                            'lg'
                        )
                        "
        >
            <span class="material-btn-icon"><span class="fa fa-plus margin-r-5"> </span> Добавить вопрос</span>
        </button>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Вопрос</th>
                    <th>Дата создания</th>
                    <th>Дата изменения</th>
                    <th>Активен</th>
                    <th>Одобрен</th>
                    <th>Удалить</th>
                </tr>

                {% for question in questions %}
                    <tr>
                        <td>
                            <a onclick="ajaxModal(
                                '{% url 'complex_question-edit' part.id question.id %}',
                                'Изменить вопрос',
                                'lg'
                            )">
                                {{ question.text|truncatewords_html:5 }}
                            </a>
                        </td>
                        <td>{{ question.created }}</td>
                        <td>{{ question.updated }}</td>
                        <td>{% bool_icon question.active %}</td>
                        <td>{% bool_icon question.accepted %}</td>
                        <td>
                            <span data-url="{% url "question-delete" part.id "complex_question" question.id %}"
                                  class="badge bg-red question-delete-link"
                                  data-list-url="{% url "complex_list" part_id %}{% if text %}?text={{ text.id }} {% endif %}"
                                  data-list-elem="#ajax_content"
                            >
                                <span class="fa fa-trash"></span>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
