<table class="table table-bordered table-hover">
    <tr>
        <td>Заказ</td>
        <td>{{ order.name }}</td>
    </tr>
    <tr>
        <td>Статус</td>
        <td>{{ order.active }}</td>
    </tr>
    <tr>
        <td>Предмет</td>
        <td>{{ order.subject.name }}</td>
    </tr>
    <tr>
        <td>Норматив</td>
        <td>{{ order.normative }}</td>
    </tr>
    <tr>
        <td>Части</td>
        <td>
            {% for part in order.parts.all %}
                <a href="{% url "order-part" part.id %}" class="btn bg-gray-light">{{ part.name }}</a>
            {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Добавлено вопросов</td>
        <td>{{ order.questions_count }}</td>
    </tr>

    <tr>
        <td>Прошли апробацию</td>
        <td>{{ order.question_abrobated_count }}</td>
    </tr>

    <tr>
        <td>Провероно модератором</td>
        <td>
            {{ order.questions_moderated }} <div class="fa fa-angle-right"></div>
            <div class="label label-success"><div class="fa fa-check"></div>   {{ order.questions_accepted|default:0}}</div>
            <div class="label label-danger"><div class="fa fa-close"></div> {{ order.question_ignored|default:0}}</div>
        </td>
    </tr>
    <tr>
        <td>
            Материалы
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>Дата начала</td>
        <td>{{ order.start_date }}</td>
    </tr>
    <tr>
        <td>Дата окончания</td>
        <td>{{ order.end_date }}</td>
    </tr>
</table>
