{% extends "base.html" %}
{% load static %}

{% block content %}

    <section class="content">

        <div class="toolbar bg-white clearfix margin-bottom">
            <div class="btn-group pull-right">

                <button class="btn btn-info"
                        onclick="ajaxModal('{% url "order-info" order.id %}', 'Информация', 'lg')">
                    <span class="fa fa-info-circle"></span>
                    Информация
                </button>

                <a href="{% url "order-approbation" order.id %}" class="btn btn-warning">
                    <span class="fa fa-check"></span>
                    Апробация
                </a>

                <a href="{% url "order-assets" order.id %}" class="btn bg-red">
                    <span class="fa-book fa"></span>
                    Материалы
                </a>

                <button class="btn btn-success">
                    <span class="fa fa-download"></span>
                    Экспорт
                </button>
            </div>
        </div>


        <h4 class="">Части</h4>


        <div class="row">

            {% for part in order.parts.all %}

                <div class="col-md-3 col-sm-6">
                    <div class="info-box">

                        <a
                            href="{% url "order-part"  part.id %}"
                            class="info-box-icon bg-light-blue"
                        >
                            {{ part.position }}
                        </a>

                        <div class="info-box-content ">
                            <div class="clearfix">
                                <span class="pull-left" style="width: 80%; font-size: 1.1em;">
                                   {{ part.name }}
                                </span>
                                <a
                                        class="pull-right"
                                        href="#"
                                        onclick="ajaxModal('{% url "part-change_name" part.id %}', 'Изменить название части')"
                                >
                                    <span class="fa fa-pencil"></span>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>


    </section>

{% endblock %}

{% block extra_js %}
    {% include "extra/ajax_modal.html" %}
    <script src="{% static "js/ajaxtools.js" %}"></script>
{% endblock %}