{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="box">
            <div class="box-header">
                <h4 class="box-title">Мои заказы</h4>
            </div>
            <div class="box-body">
                <table class="table">

                    <tr>
                        <th>
                            Заказ
                        </th>
                        <th>
                            Выполнено
                        </th>
                        <th>
                            Норматив
                        </th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <a href="/materials/orders/{{ order.id }}">{{ order.name }} </a>
                            </td>
                            <td>
                                {{ 1 }} {# todo fix it #}
                            </td>
                            <td>
                                {{ order.normative }}
                            </td>
                        </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>
{% endblock %}