<form action="{{ request.get_full_path }}" id="ajaxform" method="Post">
    {% csrf_token %}

    <input type="text" class="form-control" name="name" value="{{ form.name.value }}">
    <hr class="margin-bottom">
    <div class="btn-group pull-right">
        <button class="btn btn-success save_form"><span
                class="fa fa-save"></span>
            <span> Сохранить</span>
        </button>
    </div>
</form>