{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="box box-solid">

            <div class="box-header">

                <h1 class="box-title">
                    <a href="{% url 'order-detail' part.order.id %}">{{ part.order.name }}</a> / {{ part.name }}
                </h1>
            </div>

            <div class="box-body">


                <ul class="nav nav-tabs" id="tabs">
                    <li class="active">
                        <a onclick="tab_switch(this) & ajax_get_loader('{% url "complex_list" part_id %}', '#ajax_content')">
                            Вопросы без текста
                        </a>
                    </li>
                    {% for text in texts %}
                        <li>
                            <a onclick="tab_switch(this) & ajax_get_loader('{% url "complex_list" part_id %}?text={{ text.id }}', '#ajax_content')">
                                {{ text.text |truncatewords:3 }}
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a onclick="
                            ajaxModal(
                                '{% url "complex_text-add" part.id %}',
                                'Добавить текст'
                            )"
                        >
                            <span class="fa fa-plus"></span>
                        </a>
                    </li>
                    <div class="btn btn-default pull-right " id="ajax_page_reload">
                        <div class="fa fa-refresh"></div>
                    </div>
                </ul>


                <div class="tab-content ajax active" id="ajax_content">

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

    <script src="{% static "js/ajaxtools.js" %}"></script>

    <script>

        $('document').ready(function () {
            ajax_get_loader("{% url "complex_list"  part.id  %}", "#ajax_content")
        });

        function tab_switch(el) {
            tabs = document.querySelectorAll("#tabs > li");
            console.log(tabs)
            for (i = 0; i < tabs.length; i++) {
                console.log(1)
                console.log(tabs[i])
                tabs[i].classList.remove("active");

            }
            el.parentNode.classList.add("active")
        }
    </script>
    {% include "extra/ajax_modal.html" %}

    <script>

        $(document).on("click", "#add_answer", function () {
            l = document.querySelector("#complex_answers")
            if (l.children.length >= 10) {
                return 0
            }
            console.log(l.children)
            //elem = '<div class="col-md-3 col-xs-6 margin-bottom"><div class="input-group"><div class="input-group-addon">' + (l.children.length + 1) +
            //    '</div><input class="form-control" maxlength="15" name="answer"></div></div>'
            var elem = l.children[0].cloneNode(true);
            var title = elem.querySelector(".input-group-addon");
            title.innerHTML = l.children.length + 1;
            var answer = elem.querySelector('.form-control');
            answer.value = ""

            l.appendChild(elem)

        })

        $(document).on("click", "#del_answer", function () {
            l = document.querySelector("#complex_answers")
            if (l.children.length < 2) {
                return 0
            }
            l.children[l.children.length-1].remove()
        })


        $('document').ready(function () {
            ajax_get_loader("{% url "part-questions"  part.id  %}", '#ajax-content')
        });

        $(document).on("click", ".save_form", function () {
            var page = document.querySelector(".ajax.active");
            var data_reload_url = page.getAttribute("data-url");
            var data_reload_elem = page.getAttribute("data-elem");
            var form = this.getAttribute("data-form");
            console.log("clicked");
            saveform(form);
            setTimeout(
                console.log("saved"),
                1000
            )
            ajax_get_loader(data_reload_url, data_reload_elem);
            console.log("closed");
        });
        $(document).on("click", "#ajax_page_reload", function () {

            var page = document.querySelector(".ajax.active");
            var data_reload_url = page.getAttribute("data-url");
            var data_reload_elem = page.getAttribute("data-elem");
            ajax_get_loader(data_reload_url, data_reload_elem);

        })

    </script>
    <script src="{% static "js/question_list.js" %}"></script>

{% endblock %}
