{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="box box-solid">

            <div class="box-header">

                <h1 class="box-title">
                    <a href="{% url 'order-detail' part.order.id %}">{{ part.order.name }}</a> / {{ part.name }}
                </h1>

            </div>

            <div class="box-body">

                <div class="margin-bottom">
                    <div class="btn-group">
                        <a

                            {% if question_type != "al" %}
                                class="btn btn-default"
                                href="/materials/orders/parts/{{ part.id }}/questions/all"
                            {% else %}
                                    class=btn btn-default disabled
                            {% endif %}
                        >

                            Все
                        </a>
                        <a

                            {% if question_type != "one_choice" %}
                                 class="btn btn-default"
                                href="/materials/orders/parts/{{ part.id }}/questions/one_choice"
                            {% else %}
                                   class='btn btn-default disabled'
                            {% endif %}
                        >
                            С одним ответом
                        </a>
                        <a

                            {% if question_type != "multiple_choice" %}
                            class="btn btn-default"
                            href="/materials/orders/parts/{{ part.id }}/questions/multiple_choice"
                            {% else %}
                                class="btn btn-default disabled"
                            {% endif %}
                        >
                            С несколькими ответами
                        </a>
                        <a

                            {% if question_type != "text" %}
                            class="btn btn-default"
                            href="/materials/orders/parts/{{ part.id }}/questions/text"
                            {% else %}
                                class="btn btn-default disabled"
                            {% endif %}
                        >
                            Текстовые
                        </a>

                        <a

                            {% if question_type != "numerical" %}
                                class="btn btn-default"
                                href="/materials/orders/parts/{{ part.id }}/questions/numerical"
                            {% else %}
                                class="btn btn-default disabled"
                            {% endif %}
                        >
                            Числовые
                        </a>
                        <a

                            {% if question_type != "conform" %}
                            class="btn btn-default"
                            href="/materials/orders/parts/{{ part.id }}/questions/conform"
                            {% else %}
                                class="btn btn-default disabled"
                            {% endif %}
                        >
                            Группирование
                        </a>
                    </div>

                </div>

                <div class="ajax-content ajax active">
                    {% block questions_list %}
                        {% include "question_list.html" %}
                    {% endblock %}
                </div>
            </div>
        </div>


    </div>

{% endblock %}

{% block extra_js %}
    <link rel="stylesheet" href="{% static "dt/datatables.min.css" %}">
    <script src="{% static "dt/datatables.js" %}"></script>
    <script>
        $(document).ready(function() {
            $('#datatable').DataTable();
        } );
    </script>
{% endblock %}
