{% load helpers %}
<h4>{{ question_type_name|default:"Все" }}</h4>
<div class="table-responsive">
    <table class="table table-bordered table-hover" id="datatable">

        <tr>
            <th>Вопрос</th>
            <th>Тип</th>
            <th class="hidden-xs hidden-sm" >Дата создания</th>
            <th class="hidden-xs hidden-sm">Дата изменения</th>
            <th>Апробация</th>
            <th>Модератор</th>
            <th>Активен</th>
            <th>Удалить?</th>
        </tr>

        {% for question in questions %}
            <tr>
                <td>
                    <a class="link-internal-hover hover-link"
                    href="/materials/orders/parts/{{ part.id }}/questions/{{ question.TYPE }}/{{ question.id }}/edit"
"
                    >
                        {{ question.get_short_text }}
                    </a>
                </td>
                <td>{% get_type question.TYPE %}</td>
                <td class="hidden-sm hidden-xs">{{ question.created }}</td>
                <td class="hidden-sm hidden-xs">{{ question.updated }}</td>
                <td>{%  bool_icon_double question.approbated question.approbation_status %}</td>
                <td>{%  bool_icon_double question.moderated question.accepted %}</td>
                <td>{% bool_icon question.active %}</td>
                <td>
                    {% if not question.active%}
                    <a href="{% url "question-delete" part.id question.TYPE question.id %}"
                          class="badge bg-red question-delete-link"
                    >
                        <span class="fa fa-trash"></span>
                    </a>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

    </table>
</div>
{% if add_button %}
    <a
            class="material-btn material-btn-fixed btn bg-green"
            href="/materials/orders/parts/{{ part.id }}/questions/{{ question_type }}/add/"
    >
        <span class="material-btn-icon"><span class="fa fa-plus margin-r-5"> </span> Добавить вопрос</span>
    </a>
{% endif %}

