{% extends "base.html" %}

{% block header %}

{% endblock %}

{% block footer %}

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block wrapper %}
<div class="bg-gray" style="width: 100vw; height: 100vh; margin-top: 0; padding-top: 0; position: fixed; top: 0;left: 0;">
    <div class="login-box">

        <div class="login-box-body bg-gray-light">
            <p class="login-box-msg">Войдите для того чтобы продолжить работу</p>

            <form action="{{ request.PATH }}" method="post">
                {%  csrf_token %}
                {% if form.errors %}
                    <div class="alert">
                        {{ form.errors }}
                    </div>
                {% endif %}
                <div class="form-group has-feedback">
                    <input name="username" class="form-control" placeholder="Логин">
                    <span class="fa fa-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder="Пароль">
                    <span class="fa fa-key form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-4 pull-right">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Войти</button>
                    </div>
                </div>

            </form>

        </div>

    </div>
</div>
{% endblock %}

