{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="box">
            <div class="box-header">
                <h4 class="box-title">Заказы на модерирование</h4>
            </div>
            <div class="box-body">
                <table class="table">

                    <tr>
                        <th>
                            Заказ
                        </th>
                        <th>
                            Проверено
                        </th>
                        <th>
                            Всего
                        </th>
                        <th>
                            По нормативу
                        </th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url "order-moderate" pk=order.id %}">{{ order.name }} </a>
                            </td>
                            <td>
                                {{ 1 }} {# todo fix it #}
                            </td>
                            <td>
                                {{ order.questions.count }}
                            </td>
                            <td>
                                {{ order.normative }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}