{% extends "moderator/question_moderator_view.html" %}

{% block question %}
    <div class="col-md-12">
        <div class="input-group margin-bottom">

            {% if question.correct_1 %}
                <span class="input-group-addon bg-green"><span class="fa fa-check"></span></span>
            {% else %}
                <span class="input-group-addon bg-red"><span class="fa fa-close"></span></span>
            {% endif %}

            <div class="form-control" style="height: auto">{{ question.answer_1 }}</div>
        </div>


        <div class="input-group margin-bottom">

            {% if question.correct_2 %}
                <span class="input-group-addon bg-green"><span class="fa fa-check"></span></span>
            {% else %}
                <span class="input-group-addon bg-red"><span class="fa fa-close"></span></span>
            {% endif %}

            <div class="form-control" style="height: auto">{{ question.answer_2 |safe }}</div>
        </div>


        <div class="input-group margin-bottom">

            {% if question.correct_3 %}
                <span class="input-group-addon bg-green"><span class="fa fa-check"></span></span>
            {% else %}
                <span class="input-group-addon bg-red"><span class="fa fa-close"></span></span>
            {% endif %}

            <div class="form-control" style="height: auto">{{ question.answer_3 |safe }}</div>
        </div>


        <div class="input-group margin-bottom">

            {% if question.correct_4 %}
                <span class="input-group-addon bg-green"><span class="fa fa-check"></span></span>
            {% else %}
                <span class="input-group-addon bg-red"><span class="fa fa-close"></span></span>
            {% endif %}

            <div class="form-control" style="height: auto">{{ question.answer_4 }}</div>
        </div>
    </div>
{% endblock %}