{% extends "base.html" %}


{% block content %}

    <section class="content">

        <div class="toolbar bg-white clearfix margin-bottom">
            <div class="btn-group pull-right">

            <a href="" class="btn btn-info">
                <span class="fa fa-info-circle"></span>
                Маълумот
            </a>

            </div>
        </div>
        <h4>Кисмхо</h4>



        <div class="row">

            {% for part in order.parts.all %}

                <div class="col-md-3 col-sm-6">
                    <div class="info-box ">

                        <a
                            href="{% url "part-moderate"  part.id %}"
                            class="info-box-icon bg-light-blue"
                        >
                            {{ part.position }}
                        </a>

                        <div class="info-box-content">

                            <span class="">
                                {{ part.name }}
                            </span>

                            <span class="info-box-number">
                                {{ part.questions_count }}
                            </span>

                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>
    </section>

{% endblock %}

{% block extra_js %}
    {% include "extra/ajax_modal.html" %}
{% endblock %}