{% extends "base.html" %}
{% load static %}
{% load helpers %}

{% block content %}

    <div class="content">
        <div class="box box-solid">
            <table class="table table-bordered">

                <tr>
                    <th>
                        Савол
                    </th>
                    <th>
                        Намуд
                    </th>
                    <th>
                        Тафтиш шудааст
                    </th>

                    <th>
                        Натичаи тафтиш
                    </th>
                </tr>


            {% for question in questions %}
                <tr>
                    <td>
                        <a class="link-internal-hover hover-link"
                           href="/materials/moderate/orders/{{ part.order_id }}/{{ question.TYPE }}/{{ question.id }}/"
                        >
                            {{ question.get_short_text|safe|truncatechars:25 }}
                        </a>
                    </td>
                    <td>{% get_type question.TYPE %}</td>
                    <td>{% bool_icon question.moderated %}</td>
                    <td>{% bool_icon question.accepted %}</td>
                </tr>
            {% endfor %}
            </table>

        </div>
    </div>

{% endblock %}
