{% extends 'questions/question.html' %}
{% block time %}
    <input type="hidden" name="part" value="{{ part_id }}">
{% endblock %}
{% block buttons %}
        <hr class="margin-bottom">
        <div class="btn-group pull-right">
            <button class="btn btn-success save_form"><span
                    class="fa fa-save"></span>
                <span> Сохранить</span>
            </button>
        </div>
{% endblock %}