{% extends 'questions/question.html' %}
{% load static %}


{% block form %}

    <div class="complex-answers-wrapper">
        <div class="complex-answers row margin-bottom" id="complex_answers">

            <div class="col-md-3 col-xs-6 margin-bottom">
                <div class="input-group">
                    <div class="input-group-addon">1</div>
                    <input class="form-control" maxlength="15" name="answer">
                </div>
            </div>

        </div>
        <div class="margin-bottom col-md-12">
            <div class="btn-group pull-right">
                <button id="del_answer" type="button" class="btn btn-danger"><span class="fa fa-trash"></span></button>
                <button id="add_answer" type="button" class="btn btn-success"><span class="fa fa-plus"></span></button>
            </div>
        </div>
    </div>
{% endblock %}