{% extends 'questions/question.html' %}

{% block form %}
    <div class="row">
        <div class="col-xs-6 margin-bottom">
            <div class="input-group"><label for="" class="input-group-addon hidden-xs hidden-sm">A.</label>
                <textarea name="left_1" id="" cols="30"
                          rows="3"
                          class="form-control">{{ form.left_1.value }}</textarea>
            </div>
        </div>
        <div class="col-xs-6 margin-bottom">
            <div class="input-group"><label for="" class="input-group-addon hidden-xs hidden-sm">1.</label>
                <textarea name="right_1" id="" cols="30"
                          rows="3"
                          class="form-control">{{ form.right_1.value }}</textarea>
            </div>
        </div>
        <div class="col-xs-6 margin-bottom">
            <div class="input-group"><label for="" class="input-group-addon hidden-xs hidden-sm">B.</label>
                <textarea name="left_2" id="" cols="30"
                          rows="3"
                          class="form-control">{{ form.left_2.value }}</textarea>
            </div>
        </div>
        <div class="col-xs-6 margin-bottom">
            <div class="input-group"><label for="" class="input-group-addon hidden-xs hidden-sm">2.</label>
                <textarea name="right_2" id="" cols="30"
                          rows="3"
                          class="form-control">{{ form.right_2.value }}</textarea>
            </div>
        </div>
        <div class="col-xs-6 margin-bottom">
            <div class="input-group"><label for="" class="input-group-addon hidden-xs hidden-sm">C.</label>
                <textarea name="left_3" id="" cols="30"
                          rows="3"
                          class="form-control">{{ form.left_3.value }}</textarea>
            </div>
        </div>
        <div class="col-xs-6 margin-bottom">
            <div class="input-group"><label for="" class="input-group-addon hidden-xs hidden-sm">3.</label>
                <textarea name="right_3" id="" cols="30"
                          rows="3"
                          class="form-control">{{ form.right_3.value }}</textarea>
            </div>
        </div>
        <div class="col-xs-6 margin-bottom">
            <div class="input-group"><label for="" class="input-group-addon hidden-xs hidden-sm">D.</label>
                <textarea name="left_4" id="" cols="30"
                          rows="3"
                          class="form-control">{{ form.left_4.value }}</textarea>
            </div>
        </div>

        <div class="col-xs-6 margin-bottom">
            <div class="input-group"><label for="" class="input-group-addon hidden-xs hidden-sm">4.</label>
                <textarea name="right_4" id="" cols="30"
                          rows="3"
                          class="form-control">{{ form.right_4.value }}</textarea>
            </div>
        </div>

        <div class="col-sm-7 pull-right margin-bottom">
            <div class="input-group"><label for="" class="input-group-addon hidden-xs hidden-sm">5.</label>
                <textarea name="right_5" id="" cols="30"
                          rows="3"
                          class="form-control">{{ form.right_5.value }}</textarea>
            </div>
        </div>

        <div class="col-sm-7 pull-right margin-bottom">
            <div class="input-group"><label for="" class="input-group-addon hidden-xs hidden-sm">6.</label>
                <textarea name="right_6" id="" cols="30"
                          rows="3"
                          class="form-control">{{ form.right_6.value }}</textarea>
            </div>
        </div>
    </div>


{% endblock %}