{% extends 'questions/question.html' %}
{% load widget_tweaks %}

{% block form %}


    <div class="input-group margin-bottom">
        <span class="input-group-addon">
            {{ form.correct_1 }}
        </span>
        <textarea name="answer_1" id="" cols="30" rows="4" class="form-control">{{ form.answer_1.value }}</textarea>
    </div>


    <div class="input-group margin-bottom">
        <span class="input-group-addon">
            {{ form.correct_2 }}
        </span>
        <textarea name="answer_2" id="" cols="30" rows="4" class="form-control">{{ form.answer_2.value }}</textarea>
    </div>


    <div class="input-group margin-bottom">
        <span class="input-group-addon">
            {{ form.correct_3 }}
        </span>
        <textarea name="answer_3" id="" cols="30" rows="4" class="form-control">{{ form.answer_3.value }}</textarea>
    </div>


    <div class="input-group margin-bottom">
        <span class="input-group-addon">
            {{ form.correct_4 }}
        </span>
        <textarea name="answer_4" id="" cols="30" rows="4" class="form-control">{{ form.answer_4.value }}</textarea>
    </div>


{% endblock %}