{% extends 'questions/question.html' %}

{% block form %}

    <div class="input-group margin-bottom">
        <label for="" class="input-group-addon">Ответ 1</label>
        <input type="text" name="answer_1" class="form-control" value="{{ form.answer_1.value }}">
    </div>

    <div class="input-group margin-bottom">
        <label for="" class="input-group-addon">Ответ 2</label>
        <input type="text" name="answer_2" class="form-control" value="{{ form.answer_2.value }}">
    </div>
    <div class="input-group">
        <div class="input-group-addon">Погрещность</div>
        <input
                type="text"
                value="{{ form.allowable_error.value|default:"0,01" }}"
                name="allowable_error"
                class="form-control"
                min="0.0"
                max="1"
                step="0.01"
        >
    </div>

{% endblock %}