{% extends 'questions/question.html' %}

{% block form %}


    <div class="input-group margin-bottom">
        <label for="" class="input-group-addon bg-green"><span class="fa fa-check"></span></label>
        <textarea name="correct" class="form-control">{{ form.correct.value }}</textarea>
    </div>


    <div class="input-group margin-bottom">
        <label for="" class="input-group-addon bg-red"><span class="fa fa-close"></span></label>

        <textarea name="incorrect_1" class="form-control">{{ form.incorrect_1.value }}</textarea>
    </div>


    <div class="input-group margin-bottom">
        <label for="" class="input-group-addon bg-red"><span class="fa fa-close"></span></label>
        <textarea name="incorrect_2" class="form-control">{{ form.incorrect_2.value }}</textarea>
    </div>


    <div class="input-group margin-bottom">
        <label for="" class="input-group-addon bg-red"><span class="fa fa-close"></span></label>
        <textarea name="incorrect_3" class="form-control">{{ form.incorrect_3.value }}</textarea>
    </div>

{% endblock %}