{% extends "base.html" %}
{% load static %}



{% block content %}
    <div class="content {% if edit %}row{% endif %}">
        <div class="padding-10 bg-gray-light margin-bottom bordered">
            <a href="/materials/orders/parts/{{ part.id }}/questions/{{ q_type }}/" class="btn btn-default"><span class="fa fa-angle-double-left"></span> Акиб</a>
            <h5 class="pull-right"><a href="{% url "order-detail" part.order_id %}">{{ part.order.name }}</a>/<a href="{% url "order-part" part.id %}">{{ part.name }}</a></h5>
        </div>

        <form action="{{ request.get_full_path }}" method="POST" id="ajaxform" class="padding-10 {% if form.instance.moderation_id %}col-md-8{% endif %}">

            {% block time %}
                <div class="input-group col-xs-6 margin-bottom">
                    <label for="" class="input-group-addon">Вакт</label>
                    <input
                        type="number"
                        value="{{ question.time |default:30}}"
                        name="time"
                        class="form-control"
                    >
                </div>
            {% endblock %}

            {% block pretext %}

            {% endblock %}
            {%  if form.errors %}
                {{ form.errors }}
            {% endif %}
            <div class="input-group margin-bottom">
                <label for="" class="input-group-addon"><span class="fa fa-file-text"></span></label>
                <textarea name="text" class="form-control" rows="5">{{ form.text.value|safe }}</textarea>
            </div>
            {% csrf_token %}
            {% block form %}

            {% endblock %}
            {% block buttons %}

                <div class="clearfix bg-gray-light padding-10 bordered">
                    <div class="btn-group pull-right">
                        <button  class="btn btn-success save_form" data-form="#ajaxform"
                                ><span
                                class="fa fa-save"></span>
                            <span> Сохранить</span>
                        </button>
                    </div>
                </div>
            {% endblock %}
            <h1>{{ url }}</h1>
        </form>

        {% if form.instance.moderation_id %}
            {% include "questions/question_sidebar.html" %}
        {% endif %}

    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "tinymce/js/tinymce/tinymce.min.js" %}"></script>
    <script>
        tinymce.init(
            {
                selector: 'textarea',
                menubar: false,
                statusbar: false,
                plugins: [
                    'advlist autolink lists image charmap preview anchor textcolor imagetools',
                    'searchreplace visualblocks code fullscreen',
                    'table contextmenu paste code wordcount'
                ],
                 toolbar: 'undo redo | bold italic | bullist numlist outdent indent | removeformat',
                 paste_data_images: true,
                 theme_advanced_buttons3_add : "pastetext,pasteword,selectall",
            }
        )
    </script>
{% endblock %}