<div class="col-md-4 ">
        {% with form.instance as question %}
            {% if question.approbated %}

            {% endif %}

            {% if question.moderation_id %}
                <div class="moderation-comments">
                    {% with "performer" as owner %}
                        {% with "performer" as owner_type %}
                            {% include 'moderator/moderation/comments_chat.html' %}
                        {% endwith %}
                    {% endwith %}
                </div>
            {% endif %}
        {% endwith %}

</div>