{% extends 'questions/question.html' %}

{% block form %}

    <div class="input-group margin-bottom">
        <label for="" class="input-group-addon">Ответ</label>
        <input type="text" name="answer" class="form-control" value="{{ form.answer.value }}">
    </div>

{% endblock %}