{% load static %}

<div class="modal fade" id="ajax_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Подождите, идет загрузка данных</h4>
            </div>
            <div class="modal-body">
                <div class="overlay">
                    <span class="fa fa-refresh fa-spin"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static "js/modal.js" %}"></script>

<style>
    #ajax_modal .modal-body{
        max-width: 100%;
        overflow: auto;
    }
</style>