{% load static %}

<script src='{% static "plugins/tinymce/tinymce.min.js" %}'></script>


<script>

    function tinymce_init() {
        tinymce.init({
            selector: '.tinymce',
            plugins: 'imagetools,codesample,charmap,image,lists, autosave',
            menubar: false,
            statusbar: false,
            toolbar: 'print | undo redo | fullscreen | outdent indent | bullist numlist  codesample | charmap | table',
            invalid_styles: 'color font-size font-family',
            height: 100
        })
    }
</script>
