{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page_title |default:"iTest" }}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block extra_css_before %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "admin_lte/css/AdminLTE.min.css" %}?dd">
    <link rel="stylesheet" href="{% static "admin_lte/css/skins/skin-blue.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}?{% now "U" %}">

    {% block extra_css %}

    {% endblock %}


</head>
{% block body %}


    <body class="hold-transition skin-blue sidebar-mini sidebar-collapse ">
    {% block wrapper %}

        <div class="wrapper">

            {% block header %}
                {% include "header.html" %}
            {% endblock %}


            {% block sidebar %}
                {% include "sidebar.html" %}
            {% endblock %}


            {% block content_wrapper %}

                <div class="content-wrapper">
                    {% block content %}

                    {% endblock %}
                </div>

            {% endblock %}

            {% block footer %}
                {% include "footer.html" %}
            {% endblock %}


        </div>


    {% endblock %}

    <script src='{% static "plugins/jQuery/jquery-2.2.3.min.js" %}'></script>

    <script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>

    <script src='{% static "admin_lte/js/app.min.js" %}'></script>
    {% block extra_js %}

    {% endblock %}
    <script>
    window.onunload = function() {
        // Notify top window of the unload event
        if(window.top){
            window.top.postMessage('iframe_change', '*');
        }

    };
    </script>
    </body>
{% endblock %}
</html>