<footer class="main-footer">

    <div class="pull-right hidden-xs">
        <a href="/on_error">Сообщить об ошибке</a>
    </div>

    <strong>Copyright &copy; 2017 <a href="http://istamqulov.info">Хасан Истамкулов</a>.</strong> Все права защищены.

</footer>