
<header class="main-header">


    <a href="/" class="logo">

        <span class="logo-mini"><b>i</b>Test</span>

        <span class="logo-lg"><b>iTest</b>PRO</span>
    </a>


    <nav class="navbar navbar-static-top" role="navigation">

        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">

        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">


                <li class="dropdown user user-menu">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <img src="{{ request.user.profile.get_image }}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ request.user.get_full_name }}</span>
                    </a>
                    <ul class="dropdown-menu">

                        <li class="user-header">
                            <img src="{{ request.user.profile.get_image }}" class="img-circle" alt="User Image">

                            <p>
                                {{ request.user.get_full_name }} - {{ request.user.profile.get_roles }}
                            </p>
                        </li>

                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/accounts/profile" class="btn btn-default btn-flat">Профиль</a>
                            </div>
                            <div class="pull-right">
                                <a href="/accounts/logout" class="btn btn-default btn-flat">Выход</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

