<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script>
        function locationchange(){
            var iframe = document.querySelector('#iframe');
            url = iframe.contentWindow.location.pathname;
            history.pushState(null, '', "/iframe?link=" + url);
        }
        var content_start_loading = function() {
            document.querySelector('.overlay').style.display='block';
            document.querySelector('#iframe').style.opacity=0.3;

        };
        var content_finished_loading = function() {

            setTimeout(function () {
                document.querySelector('.overlay').style.display='none';
                document.querySelector('#iframe').style.opacity=1;
                locationchange()
            },
                500
            )

        };
        var receiveMessage = function receiveMessage(e){
            var url = window.location.href,
                url_parts = url.split("/"),
                allowed = url_parts[0] + "//" + url_parts[2];

            // Only react to messages from same domain as current document
            if (e.origin !== allowed) return;
            // Handle the message
            switch (e.data) {
                case 'iframe_change': content_start_loading(); break;
            }
        };
       window.addEventListener("message", receiveMessage, false);



    </script>
    {% if request.GET.link %}
        <iframe src="{{ request.GET.link }}" frameborder="0" id="iframe" onload="content_finished_loading()">

        </iframe>
    {% endif %}
    <div class="overlay">
        <div class="loader">
          <div class="inner one"></div>
          <div class="inner two"></div>
          <div class="inner three"></div>
            <br><br><br><br><br>
        </div>

    </div>
    <style>

        .overlay{
            display: none;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #3c8dbc;
            background-color: rgba(60, 141, 188, 0.8);
            transition: 0.5s all;
        }
        #load{

        }
        body, html{
            padding: 0;
            margin: 0;
        }
        #iframe{
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            min-height: 100%;
            margin: 0;
            padding: 0;
        }

        .loader {
          position: absolute;
          top: calc(50% - 32px);
          left: calc(50% - 32px);
          width: 64px;
          height: 64px;
          border-radius: 50%;
          perspective: 800px;
        }

        .inner {
          position: absolute;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }

        .inner.one {
          left: 0%;
          top: 0%;
          animation: rotate-one 1s linear infinite;
          border-bottom: 3px solid #EFEFFA;
        }

        .inner.two {
          right: 0%;
          top: 0%;
          animation: rotate-two 1s linear infinite;
          border-right: 3px solid #EFEFFA;
        }

        .inner.three {
          right: 0%;
          bottom: 0%;
          animation: rotate-three 1s linear infinite;
          border-top: 3px solid #EFEFFA;
        }

        @keyframes rotate-one {
          0% {
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
          }
          100% {
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
          }
        }

        @keyframes rotate-two {
          0% {
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
          }
          100% {
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
          }
        }

        @keyframes rotate-three {
          0% {
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
          }
          100% {
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
          }
        }
    </style>

</body>
</html>

