<aside class="main-sidebar">
    <section class="sidebar">

        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ request.user.profile.get_image }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ request.user.get_full_name }}</p>
            </div>
        </div>

        <ul class="sidebar-menu">

            <li class="header">Маводхо</li>

            <li class="treeview">

                <a href="/materials/orders/">
                    <i class="fa fa-pencil"></i>
                    <span>Фармоишхо</span>
                </a>

            </li>

            <li>
                <a href="/materials/moderate/">
                    <i class="fa fa-check"></i>
                    <span>Экспертиза</span>
                </a>
            </li>

            <li class="header">
                Маълумот
            </li>
            <li>
                <a href="">
                    <i class="fa fa-newspaper-o"></i>
                    <span>Эълонхо</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-info-circle"></i>
                    <span>Кумак</span>
                </a>
            </li>

            {% if request.user.is_staff %}
                <li class="header">
                    Администрирование
                </li>
                <li>
                    <a href="/admin">
                        <i class="fa fa-lock"></i>
                        <span>Админка</span>
                    </a>
                </li>
            {% endif %}
            <li class="header">
                Шахси
            </li>
            <li>
                <a href="">
                    <i class="fa fa-comment"></i>
                    <span>Сообщения</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-bell"></i>
                    <span>Хабархо</span>
                </a>
            </li>


            <li>
                <a href="/accounts/logout">
                    <i class="fa fa-sign-out"></i>
                    <span>Баромад</span>
                </a>
            </li>

        </ul>

    </section>
</aside>

