{% extends "base.html" %}

{% block content %}

    <div class="content">

        <div class="box">
            <div class="box-header">
                <div class="box-title">
                   <small>Аппробация заказа</small>
                    <a href="{% url "order-detail" order.id %}">{{ order.name }}</a>
                </div>
            </div>
            <div class="box-body">
                {% if 0 %}
                <table class="table table-bordered">
                    {% if order.onechoices.count  %}
                    <tr>
                        <td>
                            <stong>Як чавоба</stong>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" style="width: 60%;">
                                    60%
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ order.approbated.onechoices.count }}/{{ order.onechoices.count }}
                        </td>
                        <td>
                            <a href="{% url "order-approbation-manager" order.id "onechoice" %}" class="btn btn-primary">
                                <span class="fa fa-check-square-o"></span>
                                Апробация
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if order.multiplechoices.count  %}
                    <tr>
                        <td>
                            <stong>Якчанд чавоба</stong>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" style="width: 60%;">
                                    60%
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ order.approbated.multiplechoices.count }}/{{ order.multiplechoices.count }}
                        </td>
                        <td>
                            <a href="{% url "order-approbation-manager" order.id "multiplechoice" %}" class="btn btn-primary">
                                <span class="fa fa-check-square-o"></span>
                                Апробация
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if order.conforms.count  %}
                    <tr>
                        <td>
                            <stong>Мувофиковари</stong>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" style="width: 60%;">
                                    60%
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ order.approbated.conforms.count }}/{{ order.conforms.count }}
                        </td>
                        <td>
                            <a href="{% url "order-approbation-manager" order.id "conform" %}" class="btn btn-primary">
                                <span class="fa fa-check-square-o"></span>
                                Апробация
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if order.texts.count  %}
                    <tr>
                        <td>
                            <stong>Чавоби кутох</stong>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" style="width: 60%;">
                                    60%
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ order.approbated.texts.count }}/{{ order.texts.count }}
                        </td>
                        <td>
                            <a href="{% url "order-approbation-manager" order.id "text" %}" class="btn btn-primary">
                                <span class="fa fa-check-square-o"></span>
                                Апробация
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if order.numericals.count  %}
                    <tr>
                        <td>
                            <stong>Чавоби адади</stong>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" style="width: 60%;">
                                    60%
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ order.approbated.numericals.count }}/{{ order.numericals.count }}
                        </td>
                        <td>
                            <a href="{% url "order-approbation-manager" order.id "numerical" %}" class="btn btn-primary">
                                <span class="fa fa-check-square-o"></span>
                                Апробация
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if order.complexquestions.count  %}
                    <tr>
                        <td>
                            <stong>Чавоби Комплекси</stong>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" style="width: 60%;">
                                    60%
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ order.approbated.complexquestions.count }}/{{ order.complexquestions.count }}
                        </td>
                        <td>
                            <a href="{% url "order-approbation-manager" order.id "complexquestion" %}" class="btn btn-primary">
                                <span class="fa fa-check-square-o"></span>
                                Апробация
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                </table>
                {% endif %}
                <table class="table table-bordered">
                    {% for name, type in types.items %}

                            <tr>
                                <td>
                                    <strong>{{ type.name }}</strong>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-green" style="width: {{ type.approbation_persentage }}%;">
                                            {{ type.approbation_persentage }}%
                                        </div>

                                    </div>
                                </td>
                                <td>
                                    {{ type.approbated.count }}/{{ type.questions.count }}
                                </td>
                                <td>


                                    {% if type.approbated.count < type.questions.count %}
                                        <a href="{% url "order-approbation-manager" order.id name %}" class="btn btn-primary">
                                            <span class="fa fa-check-square-o"></span>
                                            Апробация
                                        </a>
                                    {% else %}
                                        <div class="label label-success"> Аппробация шуд</div>
                                    {% endif %}

                                </td>
                            </tr>


                    {% endfor %}
                </table>
            </div>


        </div>
    </div>

{% endblock %}