{% extends "base.html" %}
{% load static %}
{% block wrapper %}

    <div class="quiz-wrapper">
        <form class="quiz"  action="{{ request.path }}" method="post" >
           <div class="quiz-header clearfix">
                <div class="quiz-title pull-left">Апробация</div>
                <div class="pull-right">
                    <a href="{% url "order-approbation" question.part.order_id %}" class="">НАЗАД</a>
                </div>
            </div>
            <div class="quiz-content">

                {% if question.complex_text %}
                    <div class=""><strong>Матн</strong></div>
                     <div class="quiz-text">{{ question.complex_text.text }}</div>
                {% endif %}

                <div class=""><strong>Савол</strong></div>
                <div class="quiz-text">{{ question.text|safe }}</div>

                <div class="complex-answers row margin-bottom" id="complex_answers">

                    {% for answer in question.get_answers %}
                        <div class="col-md-3 col-xs-6 margin-bottom">
                            <div class="input-group">
                                <div class="input-group-addon">{{ forloop.counter }}</div>
                                <input class="form-control" maxlength="15" name="answer">
                            </div>
                        </div>
                    {% endfor %}


                </div>

            </div>

            {% csrf_token %}
            <div class="quiz-footer clearfix">

                <div class="invalid-toggle pull-left">
                    <span>Хато:</span>
                    <label class="toggle ">

                        <input type="checkbox" name="is_invalid">
                        <span class="fa fa-toggle-off"></span>

                    </label>
                </div>



                <button class="btn btn-success pull-right"><div class="fa fa-check"></div> Кабул</button>

            </div>
        </form>


    </div>

{% endblock %}