{% extends "base.html" %}
{% load static %}
{% block wrapper %}

    <div class="quiz-wrapper quiz-wrapper-lg">
        <form class="quiz"  action="{{ request.path }}" method="post" >
            <div class="quiz-header clearfix">
                <div class="quiz-title pull-left">Апробация</div>
                <div class="pull-right">
                    <a href="{% url "order-approbation" question.part.order_id %}" class="">НАЗАД</a>
                </div>
            </div>
            <div class="quiz-content">
                <div class="quiz-text">{{ shuffled.text|safe }}</div>
                <div class="conform-wrapper">
                    <div class="conform-left">
                        {% for answer in shuffled.lefts  %}
                            <div class="conform-answer">
                                <div class="icon">{{ forloop.counter }}.</div>
                                <div class="text">{{ answer|safe }}</div>
                            </div>
                        {% endfor %}
                        <div style="height: 130px;"></div>
                        <div class="clearfix">
                            <div class="invalid-toggle pull-left">
                                <span>Хато:</span>
                                <label class="toggle ">

                                    <input type="checkbox" name="is_invalid">
                                    <span class="fa fa-toggle-off"></span>

                                </label>

                            </div>
                            <button class="btn btn-success pull-right save_conform"><div class="fa fa-check"></div> Кабул</button>
                        </div>
                    </div>
                    <div class="conform-right user-selected" id="answers">
                        {% for answer in shuffled.rights %}
                            <div class="conform-answer" data-id="{{ forloop.counter0 }}">
                                <div class="icon"><div class="fa fa-bars"></div></div>
                                <div class="text">{{ answer|safe }}</div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% csrf_token %}
            <input type="hidden" id="selected_answers" name="selected_answers" value="{% for answer in shuffled.rights%}{{ forloop.counter0 }} {%endfor %} ">
        </form>

    </div>

    <script src="{% static "js/Sortable.min.js" %}">

    </script>
    <script>
        var el = document.getElementById('answers');
        selected_answers = document.querySelector("#selected_answers");
        var sortable = Sortable.create(el, {
            onUpdate: function (/**Event*/evt) {
                var ls = document.querySelectorAll(".conform-right  .conform-answer");
                console.log(ls)
                var selected = "";
                for (var i=0; i<ls.length; i++){
                    selected += $(ls[i]).attr("data-id");
                }
                selected_answers.setAttribute("value", selected);
            },
        });

    </script>

{% endblock %}