{% extends "base.html" %}
{% load static %}
{% block wrapper %}

    <div class="quiz-wrapper">
        <form class="quiz"  action="{{ request.path }}" method="post" >
           <div class="quiz-header clearfix">
                <div class="quiz-title pull-left">Апробация</div>
                <div class="pull-right">
                    <a href="{% url "order-approbation" question.part.order_id %}" class="">НАЗАД</a>
                </div>
            </div>
            <div class="quiz-content">
                <div class="quiz-text">{{ question.text|safe }}</div>
                <div class="input-group col-md-6">
                    <div class="input-group-addon">Чавоб</div>
                    <input type="number" name="answer" class="input form-control"
                    style="font-size: 1.2em; font-family: monospace; text-align: right;" step="0.01">
                </div>
            </div>

            {% csrf_token %}
            <div class="quiz-footer clearfix">

                <div class="invalid-toggle pull-left">
                    <span>Хато:</span>
                    <label class="toggle ">

                        <input type="checkbox" name="is_invalid">
                        <span class="fa fa-toggle-off"></span>

                    </label>
                </div>



                <button class="btn btn-success pull-right"><div class="fa fa-check"></div> Кабул</button>

            </div>
        </form>


    </div>

{% endblock %}