{% extends "base.html" %}
{% block wrapper %}

    <div class="quiz-wrapper">
        <form class="quiz"  action="{{ request.path }}" method="post" >
           <div class="quiz-header clearfix">
                <div class="quiz-title pull-left">Апробация</div>
                <div class="pull-right">
                    <a href="{% url "order-approbation" question.part.order_id %}" class="">НАЗАД</a>
                </div>
            </div>
            <div class="quiz-content">
                <div class="quiz-text">{{ shuffled.text|safe }}</div>
                <div class="answers">

                    {% for answer in shuffled.answers %}
                        <div class="answer">

                            <label class="answer-icon">

                                <label class="answer-toggle">
                                    <input type="radio" name="selected_answer" value="{{ forloop.counter0 }}" id="val{{ forloop.counter0 }}">
                                    <span class="fa fa-dot-circle-o"></span>
                                </label>

                            </label>
                            <div class="answer-text">
                                {{ answer|safe }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        
            {% csrf_token %}

            <div class="quiz-footer clearfix">

                <div class="invalid-toggle pull-left">
                    <span>Хато:</span>
                    <label class="toggle ">

                        <input type="checkbox" name="is_invalid">
                        <span class="fa fa-toggle-off"></span>

                    </label>
                </div>



                <button class="btn btn-success pull-right"><div class="fa fa-check"></div> Кабул</button>

            </div>

        </form>

    </div>




{% endblock %}