<div class="question-preview">
    {% if question.complex_text %}
        <h5>Матн</h5>
        <p class="question-text quiz-text">
            {{ question.complex_text.text }}
        </p>
    {% endif %}
    <h5>Савол</h5>
    <p class="question-text quiz-text">
        {{ question.text |safe }}
    </p>
    <h5>Калидхо</h5>
    <div class="complex-answers row margin-bottom" id="complex_answers">

        {% for answer in question.get_answers %}
            <div class="col-md-3 col-xs-6 margin-bottom">
                <div class="input-group">
                    <div class="input-group-addon">{{ forloop.counter }}</div>
                    <input class="form-control" maxlength="15" name="answer" readonly value="{{ answer }}">
                </div>
            </div>
        {% endfor %}
    </div>
</div>