<div class="question-preview">
    <div class="question-text quiz-text">
        {{ question.text |safe }}
    </div>
    <div class="question-answer">
        <div class="answers">
            <div class="row margin-bottom">
                <div class="col-md-6">
                    <div class='input-group answer-wrapper'>
                        <div class="input-group-addon">
                            A
                        </div>
                        <section class="answer-text">
                            {{ question.left_1|safe }}
                        </section>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class='input-group answer-wrapper'>
                        <div class="input-group-addon">
                            1
                        </div>
                        <section class="answer-text">
                            {{ question.right_1|safe }}
                        </section>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom">
                <div class="col-md-6">
                    <div class='input-group answer-wrapper'>
                        <div class="input-group-addon">
                            B
                        </div>
                        <section class="answer-text">
                            {{ question.left_2|safe }}
                        </section>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class='input-group answer-wrapper'>
                        <div class="input-group-addon">
                            2
                        </div>
                        <section class="answer-text">
                            {{ question.right_2|safe }}
                        </section>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom">
                <div class="col-md-6">
                    <div class='input-group answer-wrapper'>
                        <div class="input-group-addon">
                            C
                        </div>
                        <section class="answer-text">
                            {{ question.left_3|safe }}
                        </section>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class='input-group answer-wrapper'>
                        <div class="input-group-addon">
                            3
                        </div>
                        <section class="answer-text">
                            {{ question.right_3|safe }}
                        </section>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom">
                <div class="col-md-6">
                    <div class='input-group answer-wrapper'>
                        <div class="input-group-addon">
                            D
                        </div>
                        <section class="answer-text">
                            {{ question.left_4|safe }}
                        </section>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class='input-group answer-wrapper'>
                        <div class="input-group-addon">
                            4
                        </div>
                        <section class="answer-text">
                            {{ question.right_4|safe }}
                        </section>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom">
                <div class="col-md-7 pull-right">
                    <div class='input-group answer-wrapper'>
                        <div class="input-group-addon">
                            5
                        </div>
                        <section class="answer-text">
                            {{ question.right_5|safe }}
                        </section>
                    </div>
                </div>
            </div>
                <div class="row margin-bottom">
                <div class="col-md-7 pull-right">
                    <div class='input-group answer-wrapper'>
                        <div class="input-group-addon">
                            6
                        </div>
                        <section class="answer-text">
                            {{ question.right_6|safe }}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .answer-text{
        overflow: auto;

        background-color: #fff;
        border: 1px solid gray;

    }
    .answer-text * {
        max-width: 100%;
    }
    .answer-wrapper{
        display: flex;
        height: 170px;
        overflow: auto;
    }
    .answer-wrapper .input-group-addon{
        width: 40px;
    }

</style>