<div class="question-preview">
    <div class="question-text quiz-text">
        {{ question.text|safe }}
    </div>
    <div class="question-answer">
        <div class="answers">

            <div class="answer">
                <label class="answer-icon">
                    {% if question.correct_1 %}
                        <span class="fa fa-check"></span>
                    {% else %}
                        <span class="fa fa-close"></span>
                    {% endif %}
                </label>
                <div class="answer-text">
                    {{ question.answer_1|safe }}
                </div>
            </div>

            <div class="answer">
                <label class="answer-icon">
                    {% if question.correct_2 %}
                        <span class="fa fa-check"></span>
                    {% else %}
                        <span class="fa fa-close"></span>
                    {% endif %}
                </label>
                <div class="answer-text">
                    {{ question.answer_2|safe }}
                </div>
            </div>

            <div class="answer">
                <label class="answer-icon">
                    {% if question.correct_3 %}
                        <span class="fa fa-check"></span>
                    {% else %}
                        <span class="fa fa-close"></span>
                    {% endif %}
                </label>
                <div class="answer-text">
                    {{ question.answer_3|safe }}
                </div>
            </div>

            <div class="answer">
                <label class="answer-icon">
                    {% if question.correct_4 %}
                        <span class="fa fa-check"></span>
                    {% else %}
                        <span class="fa fa-close"></span>
                    {% endif %}
                </label>
                <div class="answer-text">
                    {{ question.answer_4|safe }}
                </div>
            </div>

        </div>
    </div>
</div>