<div class="question-preview">
    <div class="question-text quiz-text">
        {{ question.text|safe }}
    </div>
    <div class="">
        <div class="input-group margin-bottom">
            <label for="" class="input-group-addon">Ответ 1</label>
            <input type="text" readonly name="answer" class="form-control" value="{{ question.answer_1 }}">
        </div>
        {% if question.answer_2 %}
            <div class="input-group margin-bottom">
                <label for="" class="input-group-addon">Ответ 2</label>
                <input type="text" readonly name="answer" class="form-control" value="{{ question.answer_2 }}">
            </div>
        {% endif %}

        <div class="input-group margin-bottom col-sm-6">
            <label for="" class="input-group-addon">Допустимая погрешность:</label>
            <input type="text" readonly name="answer" class="form-control" value="{{ question.allowable_error }}">
        </div>

    </div>
</div>