<div class="question-preview">
    <div class="question-text quiz-text">
        {{ question.text|safe }}
    </div>
    <div class="question-answer">
        <div class="answers">

            <div class="answer">
                <label class="answer-icon">
                    <span class="fa fa-check"></span>
                </label>
                <div class="answer-text">
                    {{ question.correct|safe }}
                </div>
            </div>

            <div class="answer">
                <label class="answer-icon">
                    <span class="fa fa-close"></span>
                </label>
                <div class="answer-text">
                    {{ question.incorrect_1|safe }}
                </div>
            </div>

            <div class="answer">
                <label class="answer-icon">
                    <span class="fa fa-close"></span>
                </label>
                <div class="answer-text">
                    {{ question.incorrect_2|safe }}
                </div>
            </div>

            <div class="answer">
                <label class="answer-icon">
                    <span class="fa fa-close"></span>
                </label>
                <div class="answer-text">
                    {{ question.incorrect_3|safe }}
                </div>
            </div>

        </div>
    </div>
</div>