<div class="question-preview">
    <div class="question-text quiz-text">
        {{ question.text|safe }}
    </div>
    <div class="">
        <div class="input-group margin-bottom">
            <label for="" class="input-group-addon">Ответ</label>
            <input type="text" readonly name="answer" class="form-control" value="{{ question.answer }}">
        </div>

    </div>
</div>