<div class="box box-danger direct-chat direct-chat-danger  flat">
    <div class="box-header with-border">
        <h3 class="box-title">Эзоххо</h3>
        <div class="box-tools pull-right">
        </div>
    </div>

    <div class="box-body">

        <div class="direct-chat-messages" id="comments">
            {% for comment in question.moderation.comments.all %}
                {% if comment.owner != owner_type %}
                    <div class="direct-chat-msg">
                        <div class="direct-chat-info clearfix">
                            <span class="direct-chat-timestamp pull-right">{{ comment.time }}</span>
                        </div>

                        <div class="direct-chat-text no-margin">
                            {{ comment.comment|safe }}
                        </div>

                    </div>
                {% else %}
                    <div class="direct-chat-msg right">
                        <div class="direct-chat-info clearfix">
                            <span class="direct-chat-timestamp ">{{ comment.time }}</span>
                        </div>
                        <div class="direct-chat-text no-margin">
                            {{ comment.comment|safe }}
                        </div>
                    </div>
                {% endif %}


            {% endfor %}


    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <form action="{% url "moderation-add-comment" question.moderation_id %}?next={{ request.path }}" method="POST"  class="input-group">
            {% csrf_token %}
            <input type="hidden" name="owner" value="{{ owner}}">
            <input type="text" name="comment" placeholder="Эзох додан ..." class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-danger btn-flat">Фиристондан</button>
            </span>
        </form>
    </div>
    <!-- /.box-footer-->
</div>
<!--/.direct-chat -->
<script>
      var objDiv = document.getElementById("comments");
      objDiv.scrollTop = objDiv.scrollHeight;
</script>