{% extends "base.html" %}
{% load static %}
{% load preview %}
{% block content %}


    <div class="row padding-10">
        <div class="col-md-12">
            <div class="padding-10 bg-gray-light margin-bottom bordered">

                <a href="/materials/moderate/orders/parts/{{ question.part_id }}" class="btn btn-default margin-r-5"><span class="fa fa-angle-double-left"></span> Акиб</a>
                <strong>Вакт: {{ question.time }}</strong>
                <h5 class="pull-right">
                    {{ question.part.order.name }}/{{ question.part.name }}
                </h5>
            </div>
        </div>
        <div class="col-md-8 ">
            {% question_preview question %}
        </div>
        <div class="col-md-4 ">
            <div class="moderation-form padding-10" style="background-color: #fff;">
                <form
                    action="{% url "moderation_manager" m_id=moderation_id %}?next={{ request.path }}"
                    method="POST"
                    class="moderation-form"
                >
                    {%  csrf_token %}
                    {% for comment in standart_moderation_comments %}
                        <div class="">
                            <label for="">
                                <input type="checkbox" name="standart-comment" value="{{ comment.id }}">
                                <span class="">{{ comment|safe}}</span>
                            </label>
                        </div>
                    {% endfor %}
                    <div class="clearfix">
                        <div class="pull-left">
                            <button class="btn btn-danger">
                                <span class="fa fa-close"></span>
                                Нодуруст
                            </button>
                        </div>
                        <div class="pull-right">
                            <a
                                    href="{% url "moderation_manager" m_id=moderation_id %}?next={{ request.path }}&accept=True"
                                    class="btn btn-success">
                                <span class="fa fa-check"></span>
                                Дуруст
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="moderation-comments">
                {% include 'moderator/moderation/comments_chat.html' %}
            </div>
        </div>
    </div>

{% endblock %}
