{% extends "base.html" %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-default box-solid">

                    <div class="box-header bg-light-blue">
                        <h3 class="box-title">Заказы</h3>
                    </div>

                    <div class="box-body">
                        <ul class="list-group">
                            {% for order in request.user.orders.all %}
                                <li class="list-group-item">
                                    <a href="/materials/orders/{{ order.id }}">
                                        {{ order.name }}
                                    </a>


                                </li>
                            {% endfor %}

                        </ul>
                    </div>

                </div>
            </div>

            {% if request.user.profile.is_moder %}
                <div class="col-md-6">
                    <div class="box box-default">

                        <div class="box-header">
                            <h3 class="box-title">Модерация</h3>
                        </div>

                        <div class="box-body">
                            <ul class="list-group">
                                {% for order in orders_moderate %}
                                    <li class="list-group-item">
                                        <a href="/materials/orders/{{ order.id }}">
                                            {{ order.name }}
                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>

                    </div>
                </div>
            {% endif %}

            <div class="col-md-6 messages">

            </div>
            <div class="col-md-6">


            </div>
        </div>
    </section>
{% endblock %}